.grid-container {
  display: grid;
  border: 2px solid #333;
  margin: 20px;
  gap: 10px; /* space between items */
}

.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.grid-container {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px; /* 3 fixed columns */
}

grid-template-columns: 1fr 2fr 1fr;

.grid-container {
  display: grid;
  grid-template-rows: 100px 200px;
}

